

 body{
    margin: 0px;
    padding: 0px;
}

.top_img>img{
    width: 100%;
    border-radius: 20px;
}

.sectionName{
    width: 100%;
    text-align: center;
    margin: 50px 0px 0px;
    padding: auto;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.products{
    padding: 30px 40px 60px;
}

.checked {
    color: orange;
   
  }

  .fa.fa-star{
    margin: 4px;
    font-size: 12px;
  }


  .products{
    display: grid;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
  }
  .products>div>img{
    width: 100%;
  }
 
  .fa.fa-heart{
    font-size: 22px;
    padding-right: 20px;
  }

  .productName{
    font-size: 13px;
    width:100%;
    height:60px;
    text-align:center;
    margin-top:8px;
  }
  .footerSticky{
    width: 100%;
    height: 50px;
    position:fixed;
    bottom: 0px;
    background-color: rgb(243, 237, 237);
  }