
/*       ***   Serum page Design   ***      */

  



 
    .box{
        text-align: center;
        text-transform: uppercase;
        
    }
    #image>img{
        width: 100%;
        border-radius: 10px;
    }
    #head{
        text-align: center;
        margin: 40px;
        font-size: 40px;
    }
    #offerbox{
        width: 70px;
        height: 18px;
        border: 0px;
        padding-top: 4px;
        padding-left: 20px;
        margin-left: 160px;
        color: white;
        background-color: gray;
        font-weight: bolder;
        font-size: 12px;
        position: absolute;
    }
    .reating{
        width: 90%;
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        padding-left: 0px;
        
    } 
    .checked{
        color: orange;
    }
    .fa.fa-star{
        font-size:15px;
        margin: 3px;
    }
    .fa.fa-heart-o{
        font-size:20px;
        cursor: pointer;
        
    }
    #allproduct{
        text-align: center;
        width: 75%;
        height: auto;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        row-gap:  35px ; 
        column-gap: 20px;
    }
    .photo{
        border-radius: 0px;
        width: 250px;
        height: 210px;  
        cursor: pointer;
    }
    .productID{
        font-size: 11px;
        
    }
    .div2{
        display:flex;
        justify-content: center;
        margin: auto;
        margin-bottom:10px;
    }
    .price1{
        font-size: 10px;
        padding-right: 10px;
        text-decoration-line: line-through;
    }
    .rs{
        font-size: 10px;
        color: red;
        font-weight: bold; 
    }
    .price{
        font-size: 10px;
        color: red;
        font-weight: bold;
        cursor: pointer;
    }
    .price:hover{
        cursor: pointer;
        font-size: 14px;
        color: red;
        font-weight: bolder;
    }
    .button{
        width: 250px;
        height: 25px;
        color: white;
        background-color: gray;
        border: 0px;
        font-weight: bolder;
        font-size: 12px;
        cursor: pointer;
    }
    .button:hover{
        width: 252px;
        height: 26px;
        color: white;
        background-color: rgb(214, 84, 84);
        border: 0px;
        font-weight: bolder;
        font-size: 12px;
        cursor: pointer;
    }
    #choose{
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    #filter{
        text-align: center;
        margin-right: 20px;
        width: 200px;
        height: 45px;
        border-radius: 0px;
        font-size: 17px;
        font-weight: 550;
    }
    #featured{
        font-weight: 550;
        font-size: 17px;
        text-align: center;
        margin-left: 100px;
        border-radius: 0px;
        margin: 0px;
        width: 200px;
        height: 45px;
    }






    /* nav bar style componens */

body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
}

#navBar {
    position: sticky;
    top: 0;
    z-index: 97;
}

#navBar>div:first-child {
    height: 32px;
    background-color: #50504b;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color:rgb(255, 255, 255);
}

#navBar>div:last-child {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 37% 23% 40%;
    gap: 20px;
    align-items: center;
    padding: 10px 50px 10px 50px;
    border-bottom: 0.5px solid rgb(177, 177, 177);
    background-color: white;
}

#navSearch {
    display: flex;
    align-content: center;
    color: #555;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 5px;
}

#navSearch>input[type="search"] {
    border: none;
    background: white;
    margin: 0;
    padding: 0px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid white;
    border-radius: inherit;
    width: 100%;
    outline: none;
    font-size: 18px;
    height: 30px;
}

#submitSearch {
    background-color: white;
    border: 0px;
    border-color: white;
}

#nav-headSection2 {
    text-align: center;
}

#nav-headSection2>img {
    width: 220px;
    height: 80px;
    cursor: pointer;
    
}

#nav-headSection3 {
    padding-left: 20px;
    display: grid;
    grid-template-columns: 70% 20% 1%;
}

#nav-headSection3>div:nth-child(2),
#nav-headSection3>div:nth-child(3) {
    display: flex;
    justify-content: center;
}

.material-symbols-outlined {
    padding-top: 3px;
}

.nav-icon {
    background-color: white;
    border: white;
}

#rewardButton {
    width: 120px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8c73c9;
    color: white;
    border: none;
    z-index:90 ;
}

/* Footer style components */
#footer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    justify-content: center;
    padding-top: 95px;
    border-top: 0.5px solid rgb(127, 126, 126);
}

#footer>div>h1 {
    font-size: 20px;
    margin-bottom: 30px;
    color: rgb(41, 38, 38);
}

#footer>div>p {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 20px;
    color: rgb(78, 78, 78);
}

#footer>div>p:hover {
    text-decoration: underline;
}

#footer>div:nth-child(3)>div:nth-child(2) {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#footer>div:nth-child(3)>div:nth-child(3) {
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(56, 52, 52);
}

#footer>div:nth-child(3)>div:nth-child(4) {
    display: flex;
    /* border: 1px solid; */
}

#footer>div:nth-child(3)>div:nth-child(4)>p {
    display: inline;
    font-size: 17px;
    /* border: 1px solid; */
    color: rgb(56, 52, 52);
    cursor: pointer;
}

.fa {
    /* border: 1px solid; */
    /* padding-left: 10px; */
    margin-left: 20px;
    font-size: 25px;
    width: 10px;
    text-align: center;
    text-decoration: none;
}

.cr {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 7px;
    margin-left: 0px;
}

.fa:hover {
    opacity: 0.7;
}

input[id=footerEmail] {
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(56, 52, 52);
    font-size: 16px;
    color: rgb(56, 52, 52);
    ;
}

#footerSubmit {
    width: 25%;
    height: 46px;
    font-size: 16px;
    color: white;
    background-color: rgb(56, 52, 52);
    border: none;
    cursor: pointer;
}
    
    
    

















